<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
    <nav th:fragment="navbar" class="navbar navbar-default navbar-fixed-top">
        <div class="nav-container">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a th:href="@{/dashboard}" class="nav-link">
                        <i class="bi bi-grid"></i> Dashboard
                    </a>
                </li>

                <li class="nav-item" sec:authorize="hasRole('INVENTORY_MANAGER') or hasRole('ADMIN')">
                    <a th:href="@{/inventory}" class="nav-link">
                        <i class="bi bi-box-seam"></i> Inventory
                    </a>
                </li>

                <li class="nav-item" sec:authorize="hasRole('DELIVERY_MANAGER') or hasRole('ADMIN')">
                    <a th:href="@{/deliveries}" class="nav-link">
                        <i class="bi bi-truck"></i> Deliveries
                    </a>
                </li>

                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a th:href="@{/admin}" class="nav-link">Admin</a>
                </li>
            </ul>
        </div>

        <!-- authorization actions -->
        <li class="navbar-nav nav-item fw-bold" sec:authorize="isAnonymous()">
            <a th:href="@{/login}" class="nav-link">Login</a>
        </li>

        <li class="navbar-nav nav-item fw-bold" sec:authorize="isAuthenticated()">
            <form action="/logout" method="post">
                <button type="submit" class="btn btn-disabled-opacity fw-bold">
                    Logout
                </button>
            </form>
        </li>
    </nav>
</body>
</html>