<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration - AttireFlow</title>
    <meta charset="UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
    <!-- nav bar -->
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <div class="text-center mt-4">
        <h1>Registration Page</h1>
        <p>Complete the form to register a staff memeber</p>
    </div>

    <!-- registration form -->
    <div class="form-container w-25 m-auto">
        <form class="bg-dark-subtle p-4 rounded shadow-sm"
              th:action="@{/admin/register-staff}"
              th:object="${staffRegistrationForm}"
              method="post">
            <!-- first name -->
            <div class="mb-3">
                <label for="firstName" class="form-label fw-bold">First Name</label>
                <input type="text" class="form-control" id="firstName" required>
            </div>

            <!-- last name -->
            <div class="mb-3">
                <label for="lastName" class="form-label fw-bold">Last Name</label>
                <input type="text" class="form-control" id="lastName" required>
            </div>

            <!-- username -->
            <div class="mb-3">
                <label for="username" class="form-label fw-bold">Username</label>
                <input type="text" class="form-control" id="username" th:field="*{username}" required>
                <!-- error message -->
                <div th:if="${usernameExists}" class="text-danger error-message pt-2">
                    <small>Username already exists.</small>
                </div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label fw-bold">Password</label>
                <input type="password" class="form-control" id="password" th:field="*{password}" required>
            </div>

            <div class="mb-3">
                <label for="confirmPassword" class="form-label fw-bold">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" required>
                <!-- error message -->
                <div th:if="${passwordMismatch}" class="text-danger error-message pt-2">
                    <small>Passwords do not match.</small>
                </div>
            </div>

            <div class="mb-3">
                <label for="role" class="form-label fw-bold">Authorization Level</label>
                <select class="form-select" id="role" th:field="*{role}" required>
                    <option value="">Select role</option>
                    <option value="ADMIN">Admin</option>
                    <option value="INVENTORY_MANAGER">Inventory Manager</option>
                    <option value="DELIVERY_MANAGER">Delivery Manager</option>
                </select>
            </div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Register Staff</button>
                <a href="/admin" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</body>
</html>